<ul class="library-list">
    {{#each this}}
    <li class="movie-name">{{name}}</li>
    <li class="movie-length">{{length}}</li>
    <ul>{{genres}}
        {{#each genres}}
        <li class="">{{name}}</li>
        {{/each}}
    </ul>

    {{/each}}
</ul>