body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 0;
  color: white;
}

@media screen and (min-width: 319px) {
  .conteiner {
    width: 320px;
  }
}
@media screen and (min-width: 767px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1023px) {
  .conteiner {
    width: 1024px;
  }
}

/*  Modal  */

.lightbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1024px;
  /* top: 0; */
  /* left: 0; */
  opacity: 0;
  overflow-y: scroll;
  pointer-events: none;
  transition: opacity 200ms linear;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 12, 2, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 11;
  overflow-y: scroll;
}

.lightbox_button {
  position: absolute;
  top: 2px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  fill: #ff6b01;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.lightbox_button:hover,
.lightbox_button:focus {
  background-color: rgba(255, 107, 1, 0.7);
}

@media screen and (max-width: 767px) {
  .lightbox_button {
    top: 1%;
    right: 0;
  }
}

/* .lightbox_background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms ease-in-out;
}

@media screen and (min-width: 1025px) {
  .lightbox_background {
    width: 1100px;
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .lightbox_background {
    width: 984px;
    height: 600px;
  }
}

@media screen and (max-width: 1023px) {
  .lightbox_background {
    width: 747px;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .lightbox_background {
    width: 320px;
    height: 1020px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%) scale(1);
  }
} */

.lightbox_content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms ease-in-out;
}

@media screen and (min-width: 1025px) {
  .lightbox_content {
    width: 1100px;
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .lightbox_content {
    width: 984px;
    height: 600px;
  }
}

@media screen and (max-width: 1023px) {
  .lightbox_content {
    width: 747px;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .lightbox_content {
    width: 320px;
    height: 1020px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -25%) scale(1);
  }
}

/* .lightbox.is-open .lightbox_content {
  transform: scale(1);
} */

@media screen and (min-width: 1024px) {
  .lightbox_image img {
    width: 350px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .lightbox_image img {
    width: 294px;
    /* height: 416px; */
    /* margin-top: 50px; */
    margin-left: 50px;
    margin-right: 30px;
    /* margin-bottom: 50px; */
  }
}

@media screen and (max-width: 767px) {
  .lightbox_image img {
    width: 280px;
    /* height: 416px; */
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .ligthbox_info {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 50px;
    width: 426px;
  }
}

@media screen and (max-width: 767px) {
  .ligthbox_info {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.film-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #000000;
}

.film-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;
}

.film-item__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  text-align: center;
  margin-left: 100px;
  color: #000000;
}

.film-item__description.popularity {
  margin-left: 115px;
}

.film-item__description.genre {
  margin-left: 133px;
}

.film-item__vote {
  background: #ff6b01;
  border-radius: 5px;
  width: 36px;
  margin-right: 7px;
}

.film-item__votes {
  background: #f7f7f7;
  border-radius: 5px;
  width: 36px;
  margin-left: 7px;
}

.film-description__title {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px;
  color: #000000;
}

.film-description__about {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.film-buttons {
  margin-top: 20px;
  /* display: flex;
  justify-content: space-around; */
}

.film-buttons button {
  width: 136px;
  height: 44px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .film-buttons button {
    margin-right: 10px;
  }
}

.film-buttons button:hover,
.film-buttons button:focus {
  background-color: #ff6b01;
  border: none;
  cursor: pointer;
}

.modal-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.modal-btn:hover,
.modal-btn:focus {
  color: white;
}
