/* Main header and footer */

/* UTILS____________________________________ */
body {
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* MAIN CONTAINER________________________ */

.conteiner {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* HEADER_____________________________ */

.header {
  background-color: #000000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../img/Header-mob.jpg);
  min-width: 100%;
  overflow: hidden;
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.nav-top {
  padding-top: 41px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

/* LOGO_________________________________ */

.logo {
  display: flex;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

.header__logo {
  margin-right: 10px;
}

.header__label {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

/* SCREEN MOBILE________________________________ */
@media screen and (min-width: 319px) {
  .conteiner {
    max-width: 320px;
  }

  .header__label {
    display: none;
  }

  .header__search {
    width: 228px;
    margin-left: -40px;
  }

  .header__navigation {
    margin-left: -115px;
  }

  .header__logo {
    margin-left: 23px;
  }

  /* retina */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../img/Header-mob-2x.jpg);
    }
  }
}

/* SCREEN TABLET_________________________________ */
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../img/Header-tablet.jpg);
  }

  .header__label {
    display: block;
    margin-right: 99px;
  }

  .header__search {
    width: 336px;
    margin-right: 0;
  }

  .header__navigation {
    margin-left: 0;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .footer__div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 28px;
  }

  /* retina */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../img/Header-tablet-2x.jpg);
    }
  }
}

/* SCREEN DESKTOP________________________________ */
@media screen and (min-width: 1024px) {
  .conteiner {
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../img/Header-desktop.jpg);
  }

  .header__label {
    display: block;
    margin-right: 99px;
  }

  .header__search {
    width: 336px;
    margin-left: 0px;
    margin-right: 130px;
  }

  .header__navigation {
    margin-left: 0;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .footer__div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 28px;
  }

  /* retina */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../img/Header-desktop-2x.jpg);
    }
  }
}

/* HEADER INPUT_________________ */

.header__search {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.header__input {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  caret-color: #ffffff;
  color: #ffffff;
  outline: none;
}

.header__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  border-top: none;
  color: #ffffff;
  caret-color: #ffffff;
}

.header__input.is-not-visible {
  display: none;
}

.header__navigation {
  display: flex;
  margin-bottom: 0px;
}

.search-icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../img/search.svg);
}

/* HOME and LIBRARY LINKS__________________________ */
.nav__item {
  margin-right: 39px;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.nav__link:hover {
  text-decoration: none;
  color: white;
}

.nav__link.active::after {
  display: block;
  content: '';
  height: 3px;
  background-color: red;
}

/* FOOTER_____________________________ */
.footer {
  background-color: #f7f7f7;
  width: 100%;
}

.footer-top,
.footer__p {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #545454;
  margin: 0;
}

.footer-top {
  margin-bottom: 10px;
}

.footer__div {
  padding-top: 30px;
  padding-bottom: 28px;
}

/* Container */

@media screen and (min-width: 768px) {
  .main-js {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 45px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .main-js {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 1024px;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.movie-card:hover,
.movie-card:focus {
  transform: scale(1.03);
}

.movies-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.movie-picture {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .movies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movie-card {
    margin: 20px 20px 0 20px;
    width: calc(100% - 2 * 20px);
  }

  .movie-card:last-child {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .movie-card {
    width: calc((100% - 180px) / 2);
    margin-top: 30px;
  }
  .movie-card:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movies-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .movie-card {
    width: calc((100% - 3 * 158px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .movie-card:nth-child(3n),
  .movie-card:last-child {
    margin-right: 0;
  }

  .movie-card:nth-last-child(-n + 3),
  .movie-card:last-child {
    margin-bottom: 0;
  }
}

.movie-picture {
  display: block;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.movie-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.movie-genre {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ec6833;
  margin: 0;
}

.movie-vote {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  margin-left: 5px;
  color: white;

  background: #ff6b01;
  border-radius: 5px;
  width: 26px;
}

li {
  list-style: none;
}
