/* Main header and footer */

a {
  display: block;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 319px) {
  .conteiner {
    width: 320px;
  }
}

@media screen and (min-width: 767px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1023px) {
  .conteiner {
    width: 1024px;
  }
}

.header {
  display: flex;
  height: 230px;

  background: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.header__logo {
  width: 24px;
  height: 24px;

  margin-top: 46px;
  margin-left: 71px;
  margin-right: 12px;
}

@media screen and (min-width: 319px) {
  .header__logo {
    margin-left: 23px;
  }
}

.header__label {
  margin-top: 41px;

  width: 141px;
  height: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

@media screen and (min-width: 319px) {
  .header__label {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__label {
    display: block;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__label {
    display: block;
    margin-right: 99px;
  }
}

.header__search {
  display: flex;
  height: 25px;
  width: 336px;
  margin-top: 113px;

  border-bottom: 0.5px solid #ffffff;
}

@media screen and (min-width: 319px) {
  .header__search {
    width: 228px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 767px) {
  .header__search {
    width: 336px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__search {
    width: 336px;
    margin-left: 0px;
    margin-right: 130px;
  }
}
.header__input {
  width: 336px;
  height: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  align-items: center;

  color: #ffffff;
  background-color: transparent;
  border: none;
}

.header__navigation {
  display: flex;
  margin-top: 58px;
}

@media screen and (min-width: 319px) {
  .header__navigation {
    margin-left: -115px;
  }
}

@media screen and (min-width: 768px) {
  .header__navigation {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__navigation {
    margin-left: 0;
  }
}

.nav__item {
  margin-right: 39px;
}

.nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.nav__link:hover {
  border-bottom: 1px solid #ff6b08;
}

.active {
  border-bottom: 1px solid #ff6b08;
}

.footer {
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  align-items: center;
  text-align: center;

  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }
}

.footer__div {
  display: flex;
}
.footer__p {
  margin-right: 10px;
}

@media screen and (min-width: 319px) {
  .footer__p {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .footer__p {
    margin-left: 0;
  }
}

.footer__img {
  margin-right: 10px;
}

/* Container */

.movies-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.movie-picture {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .movies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movie-card {
    margin: 20px 20px 0 20px;
    width: calc(100% - 2 * 20px);
  }

  .movie-card:last-child {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .movie-card {
    width: calc((100% - 180px) / 2);
    margin-top: 30px;
  }
  .movie-card:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movies-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .movie-card {
    width: calc((100% - 3 * 158px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .movie-card:nth-child(3n),
  .movie-card:last-child {
    margin-right: 0;
  }

  .movie-card:nth-last-child(-n + 3),
  .movie-card:last-child {
    margin-bottom: 0;
  }
}

.movie-picture {
  display: block;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.movie-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.movie-genre {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ec6833;
  margin: 0;
}

li {
  list-style: none;
}
